[user]
    name = hanhan1978
    email = ryo.tomidokoro@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    st = status
    sh = show
    ba = branch -a
    bd = branch -d
    br = branch
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    pom = pull origin master
    od = "!git diff \"$1^\"...\"$1\""
    files = "!git diff --name-status \"$1^\" \"$1\""
    empty = commit --allow-empty -m 'empty commit'
[commit]
    template = ~/.gitmessage
[http]
    postBuffer = 524288000
[diff "cp932"]
    textconv = iconv -f cp932 -t utf-8
